# Package Files #
*.jar
*.war
*.ear
*.class

**/target/**
**/lib/**
**/nb-configuration.xml
**/nbactions.xml
/mapplication/mappview/target/
/mapplication/mappmodel/target/
/mapplication/mappdao/target/
/mapplication/mappservices/target/